TOKEN_BOT=8898871907:AAESvJsBgfRLjtbVvRFSokKbK3_VzrucxBY
SUPABASE_URL=https://jrzmsqzgtdfqgzeotjju.supabase.co
SUPABASE_KEY=sb_secret_gBm1C3RpFr9qN49MnEFqKg_XheHn9s7
OWNER_CHAT_ID=8534387344
PORT=10000
